#users_registred {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0%;
  row-gap: 30px;
}
#users_registred table {
  border-collapse: collapse;
  border: 1px solid black;
}
td {
  padding: 15px 20px;
  text-align: center;
  font-family: "Montserrat Alternates", sans-serif;
}
.gris {
  background-color: #fafafa;

}
.gris * {
  color: black;
}
#t1 {
  background-color: var(--main-color);
  color: var(--text-color);
  text-align: center;
}

#users_registred img {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  margin: 5px;
}
@media only screen and (max-width: 600px) {
  th,
  td {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
}
